<!--The replaced content.-->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="sodas" *ngIf="sodasList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Title</th>
            <th class="h">Description</th>
            <th class="h">Date</th>
            <th class="h">Status</th>
            <th class="h">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr class="soda" (dblclick)="editSoda(soda)" *ngFor="let soda of sodasList">

            <ng-container *ngIf="!editSodas.includes(soda); else editTD">
              <td>{{soda.title}}</td>
              <td>{{soda.description}}</td>
              <td>{{soda.date | date}}</td>
              <td>{{soda.status}}</td>
            </ng-container>

            <ng-template #editTD>
                <td><input type="text" name="title" id="title" (keypress)="submitSoda($event, soda)" [(ngModel)]="soda.title" placeholder="Title" class="form-control"></td>
                <td><input type="text" name="description" id="description" (keypress)="submitSoda($event, soda)" [(ngModel)]="soda.description" placeholder="Description"
                    class="form-control"></td>
                <td>{{soda.date | date}}</td>
                <td>
                  <input type="text" name="status" id="status" (keypress)="submitSoda($event, soda)" [(ngModel)]="soda.status" placeholder="Status" class="form-control">
                </td>
            </ng-template>

            <td class="o">
              <button class="btn btn-success" (click)="doneSoda(soda)">
                <i  class="fa fa-check"></i>
              </button>
              <button class="btn btn-primary" (click)="editSoda(soda)">
                  <i  class="fa fa-pencil"></i>
                </button>
              <button class="btn btn-danger" (click)="deleteSoda(soda)">
                  <i  class="fa fa-trash"></i>
                </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>


    <form>
      <div class="form-row">

        <div class="col-md-5">
          <input type="text" name="title" id="title" [(ngModel)]="newSoda.title" placeholder="Title" class="form-control">
        </div>
        <div class="col-md-5">
          <input name="description" id="description" [(ngModel)]="newSoda.description" placeholder="Description" class="form-control"
            id="description">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2">
    
  </div>
</div>
<router-outlet></router-outlet>
